<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Department of Symbiosis</li>
    <li>Max-Planck-Institute for Marine Microbiology</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Celsiusstraße 1, 28359 Bremen, Germany</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+49 421 2028 9040</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:gdangelo808@pm.me">gdangelo808@pm.me</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://www.mpi-bremen.de/Grace-DAngelo.html">mpi-bremen.de</a></li>    
  </ul>
</div>
